body,html{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: url(../images/login_bg.jpg) no-repeat center;
    background-size: cover;
}
.log_reg{
    width: 500px;
    height: 350px;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.title{
    width: 100%;
    height: 80px;
    line-height: 80px;
    text-align: center;
    /* background-color: pink; */
}
.reg{
    display: none;
}
.layui-form{
    padding: 0 50px;
}
.links{
    display: flex;
    justify-content: flex-end;
}
.layui-form-item{
    position: relative;
}
.layui-icon{
    position: absolute;
    top: 11px;
    left: 5px;
}
.layui-input{
    text-indent: 15px;
}
